<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicloud - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/FlexitHisRazor.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/res/brand/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/res/brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/res/brand/favicon-16x16.png">
    <link rel="manifest" href="~/res/brand/site.webmanifest">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
/*        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }*/
/*        .badge-notification {
            --mdb-badge-font-size: 0.6rem;
            --mdb-badge-padding-x: 0.45em;
            --mdb-badge-padding-y: 0.2em;
            --mdb-badge-margin-top: -0.1rem;
            --mdb-badge-margin-left: -0.5rem;
            position: absolute;
            font-size: var(--mdb-badge-font-size);
            padding: var(--mdb-badge-padding-y) var(--mdb-badge-padding-x);
            margin-top: var(--mdb-badge-margin-top);
            margin-left: var(--mdb-badge-margin-left);
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #F8F8F8;
            color: #4F4F4F;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
        }

            #sidebar .h6 {
                color: #4F4F4F;
            }

            #sidebar.active {
                margin-left: -250px;
            }

                #sidebar.active .custom-menu {
                    margin-right: -50px;
                }

            #sidebar h1 {
                margin-bottom: 20px;
                font-weight: 700;
            }

                #sidebar h1 .logo {
                    color: #4F4F4F;
                }

            #sidebar ul.components {
                padding: 0;
            }

            #sidebar ul li {
                font-size: 16px;
            }

                #sidebar ul li > ul {
                    margin-left: 10px;
                }

                    #sidebar ul li > ul li {
                        font-size: 14px;
                    }

                #sidebar ul li a {
                    padding: 10px 0;
                    display: block;
                    color: #4F4F4F;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }

                    #sidebar ul li a:hover {
                        color: #2AAEAD;
                    }

                #sidebar ul li.active > a {
                    background: transparent;
                    color: #2AAEAD;
                }

        @@media (max-width: 991.98px) {
            #sidebar {
                margin-left: -250px;
            }

                #sidebar.active {
                    margin-left: 0;
                }

                #sidebar .custom-menu {
                    margin-right: -50px !important;
                    top: 10px !important;
                }
        }

        #sidebar .custom-menu {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 0;
            margin-right: -20px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        @@media (prefers-reduced-motion: reduce) {
            #sidebar .custom-menu {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
        }

        #sidebar .custom-menu .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

            #sidebar .custom-menu .btn.btn-primary {
                background: #6749b9;
                border-color: #6749b9;
            }

                #sidebar .custom-menu .btn.btn-primary:hover,
                #sidebar .custom-menu .btn.btn-primary:focus {
                    background: #6749b9 !important;
                    border-color: #6749b9 !important;
                }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        @@media (max-width: 991.98px) {
            #sidebarCollapse span {
                display: none;
            }
        }

        #main-content {
            width: 100%;
            padding: 0;
            min-height: 100vh;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }*/
    </style>
</head>
<body style="background-color: #F8F8F8 ">

    @await Component.InvokeAsync("Navbar")

    <div class="container min-vh-100">

        @RenderBody()


    </div>
    <!--<footer class="page-footer font-small blue">-->

        <!-- Copyright -->
        <!--<div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="/"> MDBootstrap.com</a>
        </div>-->
        <!-- Copyright -->

    <!--</footer>-->
    <footer class="bg-white footer text-muted d-flex align-items-center">
        <div class="container-fluid ml-5 mr-5 ">
            <div class="row">
                <div class="col-6 text-left mt-2">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> Medicloud. Bütün hüquqlar qorunur
                </div>
                <div class="col-6 text-right d-flex justify-content-end">
                    <label class="mr-2 mt-2">Site by </label>
                    <img class="img-fluid" src="./res/flexit_logo.svg" />
                </div>
            </div>
        </div>
    </footer>


    <!-- loading modal -->
    <div class="modal" id="loadingModal" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-body" id="loadingModalText">

            </div>
        </div>
    </div>
    <!-- system modal -->
    <div class="modal" id="systemModal" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="systemModalTitle">Sessiyanız başa çatıb</h5>

                </div>
                <div class="modal-body">
                    <p id="systemModalText">Zəhmət olmasa yenidən giriş edin</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="systemModalBtn" href="/login">Daxil ol</a>
                </div>
            </div>
        </div>
    </div>
    <!-- warning modal -->
    <div class="modal fade" id="warningModal" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningTitle">Bildiriş</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="warningText">---</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="warningModalButton" data-dismiss="modal" style="display:none">Bağla</button>
                </div>
            </div>
        </div>
    </div>







    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @*<script src="~/js/router.js"></script>*@
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
