/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
*/

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F8F8F8;
    color: #4F4F4F;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

    #sidebar .h6 {
        color: #4F4F4F;
    }

    #sidebar.active {
        margin-left: -250px;
    }

        #sidebar.active .custom-menu {
            margin-right: -50px;
        }

    #sidebar h1 {
        margin-bottom: 20px;
        font-weight: 700;
    }

        #sidebar h1 .logo {
            color: #4F4F4F;
        }

    #sidebar ul.components {
        padding: 0;
    }

    #sidebar ul li {
        font-size: 16px;
    }

        #sidebar ul li > ul {
            margin-left: 10px;
        }

            #sidebar ul li > ul li {
                font-size: 14px;
            }

        #sidebar ul li a {
            padding: 10px 0;
            display: block;
            color: #4F4F4F;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

            #sidebar ul li a:hover {
                color: #2AAEAD;
            }

        #sidebar ul li.active > a {
            background: transparent;
            color: #2AAEAD;
        }

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

        #sidebar .custom-menu {
            margin-right: -50px !important;
            top: 10px !important;
        }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

    #sidebar .custom-menu .btn.btn-primary {
        background: #6749b9;
        border-color: #6749b9;
    }

        #sidebar .custom-menu .btn.btn-primary:hover,
        #sidebar .custom-menu .btn.btn-primary:focus {
            background: #6749b9 !important;
            border-color: #6749b9 !important;
        }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#main-content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
