<style>
    .alert {
        position: relative;
        padding: 1rem 1.25rem;
        margin-bottom: 1rem;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .alert-danger p {
        margin-bottom: 0;
    }

    .alert-dismissible {
        padding-right: 4rem;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .75rem 1.25rem;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    .btn-close:focus {
        outline: none;
        box-shadow: none;
    }
    
    .btn-close:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

</style>


<div class="alert alert-danger alert-dismissible font-size-16 fade show mb-3" role="alert">
    <p>Hörmətli istifadəçi, vaxtı keçmiş abunəliyə görə Medicloud funksiyalarına girişiniz hazırda saxlanılıb. Sistemdən davamlı olaraq istifadə edə bilməniz üçün, aylıq xidmət haqqını ən qısa müddətdə <strong><a href="/Pricing">ödəməyiniz</a></strong> xahiş olunur.</p>
</div>