
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <p>Hörmətli istifadəçi, vaxtı keçmiş abunəliyə görə Medicloud funksiyalarına girişiniz hazırda saxlanılıb. Sistemdən davamlı olaraq istifadə edə bilməniz üçün, aylıq xidmət haqqını ən qısa müddətdə <strong><a href="/Pricing" class="alert-link">ödəməyiniz</a></strong> xahiş olunur.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>