
@{
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
    ViewData["Title"] = "Qeydiyyat";
}
<div class="card-body p-4">

    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">Hesab yarat</h4>
        <p class="text-muted mb-4">Sağlamlığınızı buludlara qaldırın</p>
    </div>
    <div class="alert alert-danger" id="alert" hidden role="alert"></div>
    <form action="#">

        <div class="mb-3">
            <label for="emailaddress" class="form-label">Mobil nömrə</label>

            <div class="form-group">
                <input type="text" class="masked-phone form-control" data-phonemask="+994 (__) ___-__-__" id="mobileNumber" name="mobileNumber" placeholder="+994" />
            </div>
        </div>



        <div class="mb-3 mb-0 text-center">
            <button class="btn btn-primary" type="button" onclick="sendOtpToRegister()" id="nextButton"> Növbəti </button>
        </div>

    </form>
</div> <!-- end card-body -->

@section Scripts{
    <script src="~/js/phone-mask-min.js"></script>

    <script>
        function setCursorToLastPlaceholder(input) {
            const placeholder = input.value;
            const cursorPos = placeholder.indexOf('_');

            input.focus();

            input.setSelectionRange(cursorPos, cursorPos);
        }

        document.getElementById('mobileNumber').addEventListener('click', function () {
            setCursorToLastPlaceholder(this);
        });


    function sendOtpToRegister() {
    var phone = $("#mobileNumber").val();
    let formattedPhone = phone
        .replace(/\+994\s*\(/, '')
        .replace(/\)\s*/, '')
        .replace(/[\s-]/g, '');
    var alertBox = $("#alert");
    var btn = $("#nextButton");

    if (!formattedPhone) {
    alertBox.text("Zəhmət olmasa nömrənizi daxil edin").removeAttr('hidden');
    return;
    }

    btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yüklənir...');

    $.ajax({
    url: '@Url.Action("SendOtpForUserRegistration", "Registration")', // Change the URL to your actual endpoint
    type: 'POST',
        data: { phone: formattedPhone },
    success: function (response) {
    if (response.success) {
    alertBox.text("OTP uğurla göndərildi").removeClass('alert-danger').addClass('alert-success').removeAttr('hidden');
    location.href = "/Registration/Step2"
    } else {
    alertBox.text(response.message).removeClass('alert-success').addClass('alert-danger').removeAttr('hidden');
    }
    btn.prop('disabled', false).html('Növbəti');
    },
    error: function () {
    alertBox.text("Server səhvi, yenidən cəhd edin").removeClass('alert-success').addClass('alert-danger').removeAttr('hidden');
    btn.prop('disabled', false).html('Növbəti');
    }
    });
    }
    </script>



}