
@{
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
    ViewData["Title"] = "Qeydiyyat";
}
<div class="card-body p-4">

    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">Hesab yarat</h4>
        <p class="text-muted mb-4">Sağlamlığınızı buludlara qaldırın</p>
    </div>
    <div class="alert alert-danger" id="alert" hidden role="alert"></div>
    <form action="#">


        <div class="mb-3">
            <label for="password" class="form-label">4 rəqəmli kod</label>
            <div class="input-group input-group-merge">
                <input type="number" id="otpBox" class="form-control" placeholder="Kodu daxil edin" maxlength="4">

            </div>
        </div>



        <div class="mb-3 mb-0 text-center">
            <button class="btn btn-primary" type="button" onclick="checkOtp()" id="nextButton"> Növbəti </button>
        </div>

    </form>
</div> <!-- end card-body -->
@section Scripts{
    <script>
    function checkOtp() {
        var otpCode = $("#otpBox").val();
        var alertBox = $("#alert");

        var btn = $("#nextButton");
        btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yüklənir...');

        if (!otpCode) {
            alertBox.text("Zəhmət olmasa kodu daxil edin").removeAttr('hidden');
            return;
        }

        $.ajax({
            url: '@Url.Action("CheckForOTP", "Registration")', // Change the URL to your actual endpoint
            type: 'POST',
            data: {otpCode: otpCode },
            success: function (response) {
                if (response.success) {

                    location.href = "/Registration/Step3"
                } else {
                    alertBox.text(response.message).removeClass('alert-success').addClass('alert-danger').removeAttr('hidden');
                }

                btn.prop('disabled', false).html('Növbəti');
            },
            error: function () {
                alertBox.text("Server xətası, yenidən cəhd edin").removeClass('alert-success').addClass('alert-danger').removeAttr('hidden');
                btn.prop('disabled', false).html('Növbəti');
            }
        });
    }
    </script>



}