
@{
    ViewData["Title"] = "Xidmət tərifi";
}
<div class="page-header m-1" style="display:inline">

    <div class="row m-1 ">
        <div class="col-8">
            <div class="row ">
                <h1>
                    <label class="border-right pr-2 ">Xidmət tərifi</label>
                </h1>
                <div class="form-group pl-4 d-flex align-content-center flex-wrap">

                    <button type="button" class="btn btn-info "
                            onclick=" $('#addCompanyGroup').modal('show');">
                        + Əlavə et
                    </button>




                </div>
                <div class="form-group pl-4 d-flex align-content-center flex-wrap">
                    <button type="button" class="btn btn-outline-info"
                            onclick=" $('#addCompany').modal('show');">
                        Mühasibat kodları
                    </button>
                </div>
                <div class="form-group pl-4 d-flex align-content-center flex-wrap">
                    <button type="button" class="btn btn-outline-info"
                            onclick=" $('#addCompany').modal('show');">
                        Qiymətlər
                    </button>
                </div>
                <div class="form-group pl-4 d-flex align-content-center flex-wrap">
                    <button type="button" class="btn btn-outline-info"
                            onclick=" $('#addCompanyGroup').modal('show');">
                        Qruplar
                    </button>
                </div>
            </div>
            </div>
        <div class="col-4">
            <div class="form-group float-right">
                <div class="row">

                    <div class="col-md-12">


                        <label for="exampleFormControlSelect1">Müəssisə</label>
                        <select class="form-control" id="departments" onchange="hospitalChanged(this)">
                        </select>



                    </div>



                </div>
            </div>
        </div>
    </div>


</div>
<form class="needs-validation" novalidate style="margin-top:2%" id="form1">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">Qruplar</div>
                        <div class="col-md-6 text-right">
                            <input class="form-check-input" type="checkbox" id="groupsIsActive" onclick="filterGroups()"
                                   checked>
                            <label class="form-check-label">
                                Aktiv
                            </label>
                        </div>
                    </div>
                </div>
                <div class="list-group" id="cGroups">



                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">Xidmət siyahısı</div>
                        <div class="col-md-6 text-right">
                            <input class="form-check-input" type="checkbox" id="companiesIsActive"
                                   onclick="filterCompanies()" checked>
                            <label class="form-check-label">
                                Aktiv
                            </label>
                        </div>
                    </div>
                </div>
                <div class="list-group" id="companiesInBuilding">



                </div>


            </div>


        </div>
        <div class="col-md-4 ">
            <div class="card  groupSettings" style="display: none;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active generalSettingsButton" onclick="settingsBoxClicked(1)">Ümumi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link accessSettingsButton" onclick="settingsBoxClicked(2)">İcazələr</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="generalSettings">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Qrup adı</label>
                                    <input type="text" class="form-control" required id="groupNameInSettings"
                                           placeholder="Qrup adı">

                                </div>
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Tipi</label>
                                    <select class="form-control" required id="selectedCompanyGroupTypeInSettings" disabled>
                                        <option value="1">Ödənişli</option>
                                        <option value="2">Rəsmi</option>

                                    </select>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 text-center">

                                    <button type="button" class="btn btn-primary justify-content-center"
                                            onclick="updateCompanyGroup()">
                                        Yadda saxla
                                    </button>

                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="accessSettings">

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" onclick="updateCompanyGroup()" id="groupIsActive">
                                <label class="form-check-label">
                                    Aktiv
                                </label>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
            <div class="card companySettings" style="display: none;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active generalSettingsButton" onclick="settingsBoxClicked(1)">Ümumi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link accessSettingsButton" onclick="settingsBoxClicked(2)">İcazələr</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="generalSettings">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Təşkilat adı</label>
                                    <input type="text" class="form-control" required id="companyNameInSettings"
                                           placeholder="Təşkilat adı">

                                </div>
                                <div class="col-md-6">

                                    <label for="exampleFormControlSelect1">Qrup</label>
                                    <select class="form-control cGroupsAll" id="selectedCompanyGroupInSettings" required disabled>
                                    </select>


                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 text-center">

                                    <button type="button" class="btn btn-primary justify-content-center"
                                            onclick="updateCompany()">
                                        Yadda saxla
                                    </button>

                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="accessSettings">

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" onclick="updateCompany()" id="companyIsActive">
                                <label class="form-check-label">
                                    Aktiv
                                </label>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>



    </div>


</form>

<div class="modal fade" id="addCompanyGroup" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="warningTitle">Qruplar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0 pt-0">
             


                <div class="row">

                    <div class="col-md-4 border-right">
                        <div class="row ">
                            <div class="col-12">
                                <div class="row align-items-end">
                                    <div class="col-md-6"><label>Başlıq</label></div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" class="btn" onclick="{$('#addHospital').modal('show');}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-header bg-white ">
                                        <div class="row">
                                            <div class="col-md-6"><label>Adı</label></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="list-group" id="cGroups">



                                </div>
                            </div>
                        </div>






                        <div class="form-group">
                            <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                            <div class="row">

                                <div class="col-md-12 text-center">


                                    <button type="button" style="color: #2AAEAD " class="btn btn-link justify-content-center w-100"
                                            onclick="insertCGroup()">
                                        Daha çox
                                    </button>



                                </div>




                            </div>



                        </div>

                    </div>


                    <div class="col-md-4 border-right">
                        <div class="row ">
                            <div class="col-12">
                                <div class="row align-items-end">
                                    <div class="col-md-6"><label>Üst grup</label></div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" class="btn" onclick="{$('#addHospital').modal('show');}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-header bg-white">
                                        <div class="row">
                                            <div class="col-md-6"><label>Adı</label></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="list-group" id="cGroups">



                                </div>
                            </div>
                        </div>






                        <div class="form-group">
                            <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                            <div class="row">

                                <div class="col-md-12 text-center">


                                    <button type="button" style="color: #2AAEAD " class="btn btn-link justify-content-center w-100"
                                            onclick="insertCGroup()">
                                        Daha çox
                                    </button>


                                </div>




                            </div>



                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row ">
                            <div class="col-12">
                                <div class="row align-items-end">
                                    <div class="col-md-6"><label>Alt grup</label></div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" class="btn" onclick="{$('#addHospital').modal('show');}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-header bg-white">
                                        <div class="row">
                                            <div class="col-md-6"><label>Adı</label></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="list-group" id="cGroups">



                                </div>
                            </div>
                        </div>






                        <div class="form-group">
                            <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                            <div class="row">

                                <div class="col-md-12 text-center">


                                    <button type="button" style="color: #2AAEAD " class="btn btn-link justify-content-center w-100"
                                            onclick="insertCGroup()">
                                        Daha çox
                                    </button>



                                </div>




                            </div>



                        </div>

                    </div>

                </div>



              
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addCompany" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>Təşkilatın əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Təşkilat adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="companyName"
                                               placeholder="Təşkilat">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label>Qrup</label>
                                        <select class="form-control cGroupsAll" id="cGroupsInModal" required>
                                        </select>


                                    </div>




                                </div>



                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="insertCompany()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>

                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    @*<script src="~/js/admin/companies/companySettings.js" asp-append-version="true"></script>*@

}