


<div class="modal fade " id="photoModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content" id="documentContent">
            <div class="modal-header d-flex justify-content-between border-bottom">
                <h5 class="modal-title" id="documentModalLabel">Şəkil əlavə et</h5>

                <div class="d-flex align-items-center">
                    <button class="btn btn-secondary me-2" id="resetButton">Sıfırla</button>

                    <button class="btn btn-primary me-2" id="savePhotoButton">Davam et</button>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

            </div>
            <div class="modal-body">

                <div class="">
                    <div class="row text-center justify-content-center">
                        <div class="col-md-8 d-flex justify-content-center">
                            <img id="image" src="" alt="" style="max-width: 100%; max-height:80vh;" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
