<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicloud - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    
    <link rel="apple-touch-icon" sizes="180x180" href="~/res/brand/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/res/brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/res/brand/favicon-16x16.png">
    <link rel="manifest" href="~/res/brand/site.webmanifest">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
        }
            /*.badge-notification {
                --mdb-badge-font-size: 0.6rem;
                --mdb-badge-padding-x: 0.45em;
                --mdb-badge-padding-y: 0.2em;
                --mdb-badge-margin-top: -0.1rem;
                --mdb-badge-margin-left: -0.5rem;
                position: absolute;
                font-size: var(--mdb-badge-font-size);
                padding: var(--mdb-badge-padding-y) var(--mdb-badge-padding-x);
                margin-top: var(--mdb-badge-margin-top);
                margin-left: var(--mdb-badge-margin-left);
            }

            .bg-image {
                background-image: url(/res/login_bg.png);
                -webkit-filter: blur(50px);
                -moz-filter: blur(50px);
                -o-filter: blur(50px);
                -ms-filter: blur(50px);
                filter: blur(50px);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: fixed;
                left: 0px;
                right: 0px;
                margin-left: 100px;
                margin-right: 100px;*/
                /* margin-bottom: 100px; */
                /*z-index: -1;
                display: block;
            }*/
        </style>
</head>
<body>

    <div class="bg-image"></div>
    @RenderBody()


      <footer class="border-top footer text-muted d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-left">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> Medicloud. Bütün hüquqlar qorunur
                </div>
                <div class="col-6 text-right d-flex justify-content-end">
                    <label class="mr-2 mt-2">Site by </label>
                    <img class="img-fluid" src="./res/flexit_logo.svg" />
                </div>
            </div>
        </div>
    </footer>

   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="~/js/login/index.js" asp-append-version="true"></script>
    <script src="~/js/router.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
