@{
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
    ViewData["Title"] = "Giriş";
}
<style>
    #formTabs .nav-link.active {
        background-color: #007bff !important; /* Primary rengini burada belirtiyoruz */
        color: white !important; /* Yazı rengini beyaz yapıyoruz */
    }
</style>
<div class="card-body p-4">

    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">Xoş gəlmişsiniz!</h4>
        <p class="text-muted mb-4">Sağlamlığınızı buludlara qaldırın</p>
    </div>
    <div class="alert alert-danger" id="alert" hidden role="alert"></div>


    <form action="#" id="loginForm" autocomplete="off">

        <ul class="nav nav-pills nav-justified" id="formTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link  active" id="phone-tab" data-toggle="tab" href="#phone" role="tab" aria-controls="phone" aria-selected="true">Telefon Nömrəsi</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Elektron Poçt</a>
            </li>
        </ul>


        <div class="tab-content mt-4" id="formTabsContent">
            <div class="tab-pane fade show active" id="phone" role="tabpanel" aria-labelledby="phone-tab">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">+994</span>
                    <input class="form-control" type="tel" id="mobileNumber"  placeholder="nömrənizi daxil edin" >
                </div>
                @* <div class="mb-3"> *@

                    @* <label for="mobileNumber" class="form-label">Mobil Nömrə</label> *@
                    @* <input type="tel" class="masked-phone form-control" data-phonemask="+994 (__) ___-__-__" id="mobileNumber" name="mobileNumber" placeholder="+994" /> *@
                @* </div> *@
            </div>


            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                <div class="mb-3">
                    @* <label for="email" class="form-label">E-posta</label> *@
                    <input type="email" class="form-control" id="emailInput" name="email" placeholder="Email daxil edin" />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <a href="@Url.Action("Index","Recovery")" class="text-muted float-end"><small>Şifrənizi unutmusuz?</small></a>
            <label for="password" class="form-label">Şifrə</label>
            <div class="input-group input-group-merge">
                <input type="password" id="passBox" class="form-control" placeholder="Şifrəni daxil edin">
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-0 text-center">
            <button class="btn btn-primary" type="submit" id="signInButton"> Daxil ol </button>
        </div>
        @*<div class="mb-3 mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                </div>
            </div>*@



    </form>
</div> <!-- end card-body -->
@section Scripts {
    @* <script src="~/js/phone-mask-min.js"></script> *@

    <script>
        // function setCursorToLastPlaceholder(input) {
        //     const placeholder = input.value;
        //     const cursorPos = placeholder.indexOf('_');

        //     input.focus();

        //     input.setSelectionRange(cursorPos, cursorPos);
        // }

        // document.getElementById('mobileNumber').addEventListener('click', function () {
        //     setCursorToLastPlaceholder(this);
        // });

        $(document).ready(function () {

                $('#mobileNumber').on('input', function() {
                        var inputVal = $(this).val();

            var numericVal = inputVal.replace(/\D/g, '');
            if (numericVal.length > 9) {
                numericVal = numericVal.slice(0, 9);
            }
            $(this).val(numericVal);
        });


           function handleLoginSuccess(data, statusCode) {
               $('#signInButton').prop('disabled', false).text('Daxil ol');
               $('#alert').attr("hidden",true);

               if (statusCode === 200) {
                   if (typeof (Storage) !== "undefined") {
                       localStorage.json = JSON.stringify(data);
                       window.location.replace("/Home/Index");
                   } else {
                       showError('Brauzerinizi yeniləyin, dəstəklənmir');
                   }
               } else {
                   showError('İstifadəçi mövcud deyil');
               }
           }

           function handleLoginError(statusCode) {
               $('#signInButton').prop('disabled', false).text('Daxil ol');
               if (statusCode === 401) {
                   showError('İstifadəçi mövcud deyil');
               } else {
                   showError('Xəta, internetə bağlı olduğunuzdan əmin olun');
               }
           }
           
           function showError(message) {
           
               $('#alert').text(message).removeAttr("hidden");
               $('#signInButton').prop('disabled', false).text('Daxil ol');
           
           }


           $('#loginForm').on('submit', function(event) {
            event.preventDefault();
            var activeTab = $('.nav-link.active');
            let inputContent;
            let type;

            if (activeTab.attr('id') === 'phone-tab') {  
                var mobileNumber = $('#mobileNumber').val();

                // let formattedNumber = mobileNumber
                //     .replace(/\+994\s*\(/, '')
                //     .replace(/\)\s*/, '')
                //     .replace(/[\s-]/g, '');
                    var regex = /^\d{9}$/;

                 if (!mobileNumber) {
                        showError("Telefon nömrəsini daxil edin.");
                        return;
                     }
                  if (!regex.test(mobileNumber)) {

                       showError("Xahiş olunur nömrənizin düzgünlüyünə diqqət edəsiniz!");
                    return;
                 }

                inputContent=mobileNumber;
                type=1;

            } else if (activeTab.attr('id') === 'email-tab') {
                var email = $('#emailInput').val();
                var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;

               if (!email) {
                    showError('E-poçt ünvanınızı daxil edin');
                   return;
               }
               if (!emailPattern.test(email)) {
                    showError('Xahiş olunur emailin düzgünlüyünə diqqət edəsiniz!');
                   return;
               }
   

                inputContent=email;
                type=2;
            }
            let password = $("#passBox").val();

            // Disable button and show loading state
            $('#signInButton').prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="signInSpinner"></span> Yüklənir...');

            if (!password) {
                showError("Xahiş olunur daxil etdiyiniz məlumatların düzgünlüyünə diqqət edəsiniz!");
                return;
            }
            $.ajax({
                type: 'POST',
                url : '@Url.Action("SignIn", "Login")',
                data: { content: inputContent, pass: password,type:type },
                dataType: 'json',
                success: function (data, status, xhr) {
                    handleLoginSuccess(data, xhr.status);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    handleLoginError(jqXhr.status);
                }
            });
        });

    });
    </script>
}