
@{
    ViewData["Title"] = "Giriş";
}
<section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-md-4 bg-light d-flex align-items-center justify-content-center">
                <div class="card-body m-5">
                    <div class="form-group">
                        <img src="/res/logo_full.svg" class="image-fluid" />
                        <span class="badge rounded-pill badge-notification bg-danger text-white">BETA</span>
                        @*<p style="text-align: center; font-size: 24px;">Xəstəxana İnformasiya Sistemi</p>*@
                    </div>

                    <div class="alert alert-danger" id="alert" hidden role="alert"></div>
                 
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">İstifadəçi adı</label>
                        <input type="email" class="form-control" placeholder="admin@gmail.com" id="username" aria-describedby="emailHelp">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Şifrə</label>
                        <input type="password" class="form-control" id="passBox" placeholder="*******">
                    </div>
                    <button class="btn btn-lg btn-block" style="color: #FFFFFF; background-color: #2AAEAD " onclick="signIn(this)" type="button" enabled>

                        Daxil ol
                      
                    </button>
                </div>
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-center"><img class="img-fluid" src="./res/login/dm04.svg" /></div>

        </div>

    </div>
</section>