@model Medicloud.BLL.Models.PaymentViewModel;

@{
    ViewData["Title"] = "- Tarif və xidmətlər";

}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                @*<div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Pricing</li>
                        </ol>
                    </div>*@
                <h4 class="page-title">Tarif və xidmətlər</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row justify-content-center">
        <div class="col-xxl-10">

            <!-- Pricing Title-->
            <div class="text-center">
                <h3 class="mb-2">Bizim tarif paketlərimiz</h3>
                <p class="text-muted w-50 m-auto">
                    Biznesinizə mükəmməl uyğun gələn paketlərimiz və qiymətlərimiz mövcuddur. Məhsullarımızla müştəri məmnuluğunu artırın.
                </p>
            </div>




            <!-- Plans -->
            <div class="row mt-sm-5 mt-3 mb-3">
                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name fw-bold text-uppercase">Fərdi</p>
                            <i class="card-pricing-icon ri-user-line text-primary"></i>
                            <h2 class="card-pricing-price">$19 <span>/ Ay</span></h2>
                            <ul class="card-pricing-features">
                                <li>10 GB Storage</li>
                                <li>500 GB Bandwidth</li>
                                <li>No Domain</li>
                                <li>1 User</li>
                                <li>Email Support</li>
                                <li>24x7 Support</li>
                            </ul>
                            <button onclick="setPayment(100)" class="btn btn-primary mt-4 mb-2 rounded-pill">Seçin</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing card-pricing-recommended">
                        <div class="card-body text-center">
                            <div class="card-pricing-plan-tag">Tövsiyə olunan</div>
                            <p class="card-pricing-plan-name fw-bold text-uppercase">Biznes</p>
                            <i class="card-pricing-icon ri-briefcase-line text-primary"></i>
                            <h2 class="card-pricing-price">$29 <span>/ Ay</span></h2>
                            <ul class="card-pricing-features">
                                <li>50 GB Storage</li>
                                <li>900 GB Bandwidth</li>
                                <li>2 Domain</li>
                                <li>10 User</li>
                                <li>Email Support</li>
                                <li>24x7 Support</li>
                            </ul>
                            <button onclick="setPayment(200)" class="btn btn-primary mt-4 mb-2 rounded-pill">Seçin</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name fw-bold text-uppercase">Müəssisə</p>
                            <i class="card-pricing-icon ri-store-2-line text-primary"></i>
                            <h2 class="card-pricing-price">$39 <span>/ Ay</span></h2>
                            <ul class="card-pricing-features">
                                <li>100 GB Storege</li>
                                <li>Unlimited Bandwidth</li>
                                <li>10 Domain</li>
                                <li>Unlimited User</li>
                                <li>Email Support</li>
                                <li>24x7 Support</li>
                            </ul>
                            <button onclick="setPayment(300)" class="btn btn-primary mt-4 mb-2 rounded-pill">Seçin</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

            </div>
            <!-- end row -->



        </div> <!-- end col-->
    </div>
    <!-- end row -->

</div> <!-- container -->

<script src="~/js/crypto-js.min.js"></script>
<script>

    const service_id = 1394;


    function generateHash(inputString, secretKey) {
        const hash = CryptoJS.HmacSHA256(inputString, secretKey).toString(CryptoJS.enc.Hex);
        return hash;
    }

    function createHiddenInput(name, value) {
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = name;
        input.value = value;
        return input;
    }

    function generateGUID() {
        var hex = function () {
            return Math.floor(Math.random() * 16).toString(16);
        };

        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0,
                v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }


    function setPayment(amount) {
        var form = document.createElement("form");
        form.method = "post";
        form.action = "https://psp.mps.az/process";
        const clientRrn = generateGUID();
        const secret_key = "Medicloud1234"; 
        form.appendChild(createHiddenInput("service_id", service_id));
        form.appendChild(createHiddenInput("client_rrn", clientRrn));
        form.appendChild(createHiddenInput("amount", amount));
        form.appendChild(createHiddenInput("client_ip", "188.213.212.170"));
        form.appendChild(createHiddenInput("hash", generateHash(`${service_id}${clientRrn}${amount}`, secret_key)));

        document.body.appendChild(form);
        form.submit();
    }

    submitPaymentForm();
</script>