<div class="col-md-12">


    <label for="exampleFormControlSelect1">Müəssisə</label>
    <select class="form-control" id="departments" onchange="organizationChanged(this)">
    </select>



</div>

@section Scripts{
<script>


    var allOrganizationsWithBuildings;

    $("#departments").empty();
    $("#buildingsInDep").empty();

    $.get(
        "/Admin/Company/GetAllOrganizationsWithBuildings",

        function (data) {
            allOrganizationsWithBuildings = data;
            if (data.organizations.length > 0) {

                $.each(data.organizations, function () {

                    $("#departments").append($("<option />").val(this.id).text(this.organizationName));




                });
                getPageData();
            }




        });
    </script >

}