@model Medicloud.WebUI.Areas.Business.ViewModels.PortfolioViewModel
<div class="px-2">

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <a class="btn btn-sm ps-0" asp-action="Index" asp-controller="Profile" asp-route-organizationId="" asp-area="Business">
                    <svg width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#737373">
                        <path fill="#737373" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                        <path fill="#737373" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
                    </svg>
                </a>
                <h2 class="ms-2 text-muted">Portfel</h2>
            </div>

            <div>
                <div class="mb-3">
                    <p>Bacarıqlarınızı nümayiş etdirmək və özünüzü digərlərindən fərqləndirmək üçün Portfelinizdən istifadə edin.</p>

                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="AddPortfolioPhoto" id="addPortfolioForm">

                        <div class="mt-sm-0 mt-3 text-sm-end">
                            <input type="file" id="portfolioPhoto" name="photo" accept="image/*" class="d-none">
                            <input type="hidden" id="" name="organizationId" value="@Model.organizationId">
                        </div>
                    </form>
                    <button id="addPortfolioBtn" class="btn border">
                        + Əlavə et
                    </button>
                </div>
                @if (Model.portfolios != null)
                {
                    <div class="row">
                        @foreach (var item in Model.portfolios)
                        {
                            <div class="col-4 mb-3">
                                <img src="@item.file.Src" data-src="@item.file.Src" style="object-fit:cover; height:120px; cursor:pointer;" data-item-id="@item.id" alt="" class="img-fluid w-100 cursor-pointer img-item multiple">

                            </div>

                        }
                    </div>
                }


            </div>
        </div> <!-- end col-->
    </div>
    <!-- end row -->
    <!-- end row -->

</div> <!-- container -->