<div class="px-3">
    <div class="col-md-8 row">

        <div class="d-flex justify-content-between px-0 mb-2">
            <div class="d-flex align-items-center">
                <h2 class="ms-2 text-muted">Biznes Tənzimləmələri</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="card rounded"  onclick="window.location.href='@Url.Action("Details","Settings")'">
                    <div class="card-body">
                        <h5>Biznes Detalları</h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Brendinizi qurmaq üçün ətraflı məlumat əlavə edin, mövqe parametrlərini tənzimləyin və müştərilər üçün xüsusi formalar yaradın.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>