<div class="modal fade" id="portfolioViewModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content" id="">
            <div class="modal-header d-flex justify-content-between border-bottom">
                <h5 class="modal-title" id="portfolioViewModalLabel"></h5>
                <div class="d-flex align-items-center">
                    <button id="deletePortfolio" class="btn text-nowrap btn-danger me-2">Sil</button>
                    <button class="btn text-nowrap btn-light me-2">Paylaş</button>
                    <button id="editPortfolio" class="btn text-nowrap btn-primary me-2">Redaktə et</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-9 bg-dark">
                    <div id="carouselExample" class="carousel" data-ride="false">
                        <div class="carousel-inner">

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="border-bottom pb-2">
                        <svg width="25" height="25" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="rgb(33 37 41 / 75%)">
                            <path d="M14.5 2h-13l-.5.5v9l.5.5H4v2.5l.854.354L7.707 12H14.5l.5-.5v-9l-.5-.5zm-.5 9H7.5l-.354.146L5 13.293V11.5l-.5-.5H2V3h12v8z" />
                        </svg>

                        <span id="commentCount" >0</span>
                    </div>
                    <div class="overflow-auto" style="height:60vh;" id="commentsContainer">

                    </div>
                    <div class="border-top pt-2 overflow-auto" style="max-height:20vh;"  id="replyContainer">
                        <div class="form-floating mb-3 text-muted">
                            <textarea class="form-control" id="portfolioCommentInput" style="resize:none; height: 80px;" maxlength="500" name="description" placeholder="Şərh əlavə edin"></textarea>
                            <label for="description">Şərh əlavə edin</label>
                        </div>
                        <div>
                            <button id="portfolioCommentButton" disabled class="btn btn-primary w-100">Göndər</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
