@{
    Layout = "~/Areas/Business/Views/Shared/_BusinessLayout.cshtml";
}

@model Medicloud.ViewModels.CreateOrganizationVM

@{ 
    var beforeStep = Model.WorkPlaceType > 0 && Model.WorkPlaceType != Medicloud.WebUI.Enums.WorkPlaceType.MyLocation ? "Step5" : "Step4";
}
<div class="">
    <div class="row  text-center justify-content-center ">
        <div class="">
            <div class="card-header   align-items-center">
                <div class="text-center flex-grow-1">
                    <h1>Komandanız neçə nəfərdən ibarətdir?</h1>
                </div>
            </div>
            <form id="" method="post" asp-action="step8" asp-controller="registration" asp-area="Business">

                <div class="card-body ">
                    <input type="hidden" asp-for="@Model.id" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize1" asp-for="TeamSizeId" value="1">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize1">Sadəcə mən</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize2" asp-for="TeamSizeId" value="2">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize2">2-3 nəfər</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize3" asp-for="TeamSizeId" value="3">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize3">4-6 nəfər</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize4" asp-for="TeamSizeId" value="4">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize4">6 nəfərdən çox</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-3 mb-0 d-flex justify-content-around align-items-center">
                    <a class="btn btn-sm" asp-action="@beforeStep" asp-route-organizationId="@Model.id" asp-area="Business">
                        <svg width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#737373">
                            <path fill="#737373" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                            <path fill="#737373" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
                        </svg>
                    </a>
                    <button class="btn btn-primary" type="submit" id="nextButton"> Növbəti</button>
                </div>

            </form>
        </div>
    </div>
</div>


