@using Medicloud.Areas.Admin.ViewModels
@model OrganizationReasonsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title">Səbəblər</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="">
                <ul class="list-group" style="max-height:55vh;overflow:auto">
                    @if (Model.OrganizationReasons != null)
                    {
                        @foreach (var item in Model.OrganizationReasons)
                        {
                            <li class="reason-row list-group-item" style="cursor:pointer;" data-item-id="@item.id" data-is-active="@item.isActive">
                                @item.name
                            </li>

                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card serviceSettings">
                <div class="card-body">
                    <div class="">
                        <form id="reasonForm" method="post" action="@Url.Action("AddOrUpdate","OrganizationReasons")" novalidate>

                            <div class="form-group">
                                <div class="row align-items-center">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Başlıq</label>
                                        <input type="text" class="form-control" required id="name" name="name"
                                               placeholder="Başlıq daxil edin">
                                        <div class="invalid-feedback">Bu sahə boş ola bilməz</div>

                                    </div>
                                    <div class="mb-3 col-md-12 align-items-center">
                                        <div class="form-check text-start mb-2" id="activeContent" style="display:none;">
                                            <input type="hidden" name="isActive" value="false">
                                            <input type="checkbox" style="cursor:pointer;" class="form-check-input" name="isActive" value="true" id="isActive">
                                            <label class="form-check-label " style="cursor:pointer;" for="isActive">Aktiv</label>
                                        </div>
                                    </div>

                                    <input type="hidden" name="id" id="id" />
                                    <div class=" align-items-center col-md-12">
                                        <button id="saveButton" class="btn btn-primary w-100 justify-content-center">
                                            Əlavə et
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>


        </div>

    </div>

</div>


@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            $('.reason-row').on('click', function () {
                if ($(this).hasClass('active')) {
                    $('.reason-row').removeClass('active');
                    $('#name').val('');
                    $('#id').val('');
                    $('#isActive').prop('checked', false);
                    $('#activeContent').hide();
                    $('#saveButton').text('Əlavə et');

                } else {
                    $('.reason-row').removeClass('active');
                    $(this).addClass('active');

                    let name = $(this).text().trim();
                    let id = $(this).data('item-id');
                    let isActive = $(this).data('is-active');

                    $('#name').val(name);
                    $('#id').val(id);
                    $('#isActive').prop('checked', isActive.toString().toLowerCase() === 'true');
                    $('#activeContent').show();
                    $('#saveButton').text('Yadda saxla');
                }
            })


            let $form = $('#reasonForm');
            $form.on('submit', function (e) {
                e.preventDefault();
                if (!$form[0].checkValidity()) {
                    $form.addClass('was-validated');
                    return
                }
                else {
                    if ($('#isActive').is(':checked')) {
                        $('input[type="hidden"][name="isActive"]').remove();
                    }
                    showLoading();
                    $form[0].submit();
                }
            })



        });


    </script>
}
