@{
    Layout = "~/Areas/Admin/Views/Shared/_BusinessLayout.cshtml";
}

@model int


<div class="">
    <div class="row  text-center justify-content-center ">
        <div class="">
            <form id="previousForm" method="get" action="@Url.Action(" Step3", "Registration" , new { area="admin" })">
                <div class="card-header">

                    <button class="btn btn-sm">
                        <img src="~/arrow.svg" />

                    </button>
                    <div class="text-center">
                        <h1>Komandanız neçə nəfərdən ibarətdir?</h1>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm">
                    <img src="~/arrow.svg" />
                </button>
            </form>
            <form id="" method="post"  asp-action="step8" asp-controller="registration" asp-area="admin">

                <div class="card-body ">
                    <input type="hidden" asp-for="@Model" name="orgId" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize1" name="teamSize" value="1">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize1">Sadəcə mən</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize2" name="teamSize" value="2">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize2">2-3 nəfər</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize3" name="teamSize" value="3">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize3">4-6 nəfər</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="radio" style="cursor:pointer;" class="form-check-input" id="checkInputTeamSize4" name="teamSize" value="4">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputTeamSize4">6 nəfərdən çox</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="submit" id="nextButton"> Növbəti</button>
                </div>

            </form>
        </div>
    </div>
</div>


