@{
    Layout = "~/Areas/Admin/Views/Shared/_BusinessLayout.cshtml";
}

@model Medicloud.ViewModels.CreateOrganizationVM


<div class="">
    <div class="row  text-center justify-content-center ">
        <div class="">
            <div class="card-header   align-items-center">
                <a class="btn btn-sm" asp-action="Step2" asp-route-organizationId="@Model.id" asp-area="Admin" >
                    <svg width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#737373">
                        <path fill="#737373" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                        <path fill="#737373" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
                    </svg>
                </a>

                <div class="text-center flex-grow-1">
                    <h1>Harada işləyirsiniz?</h1>
                    <p>Müştərilər sizə gəlir yoxsa siz onlara gedirsiz? və ya hər ikisi</p>
                </div>
            </div>
            <form id="step3Form" method="post" enctype="multipart/form-data" asp-action="step4" asp-controller="registration" asp-area="admin">
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="WorkPlaceType" name="WorkPlaceType" id="workPlaceType" />
                <div class="card-body ">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="checkbox" style="cursor:pointer;" @(Model.WorkPlaceType == Medicloud.WebUI.Enums.WorkPlaceType.MyLocation || Model.WorkPlaceType == Medicloud.WebUI.Enums.WorkPlaceType.Both ? "checked" : "") class="form-check-input" id="checkInputMyLocation">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputMyLocation">
                                    <span class="d-block">Mənim məkanımda</span>
                                    <span style="font-size:10px;">
                                        Müştərilərim mənim yanıma gəlir.
                                    </span>
                                </label>
                                <div class="invalid-feedback">
                                    Zəhmət olmasa, ən azı bir seçim edin: 'My Location' və ya 'Client Location'.
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="form-check text-start mb-2 pb-2 border-bottom">
                                <input type="checkbox" style="cursor:pointer;" @(Model.WorkPlaceType == Medicloud.WebUI.Enums.WorkPlaceType.ClientLocation || Model.WorkPlaceType == Medicloud.WebUI.Enums.WorkPlaceType.Both ? "checked" : "") class="form-check-input" id="checkInputClientLocation">
                                <label class="form-check-label d-block ms-2" style="cursor:pointer;" for="checkInputClientLocation">

                                    <span class="d-block">Müştərilərin məkanında</span>
                                    <span style="font-size:10px;">
                                        Xidmətlər müştərilərin məkanında həyata keçirilir
                                    </span>
                                </label>
                                <div class="invalid-feedback">
                                    Zəhmət olmasa, ən azı bir seçim edin: 'My Location' və ya 'Client Location'.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback" id="errorMessage" style="display:none;">
                        Zəhmət olmasa, ən azı bir seçim edin.
                    </div>
                </div>

                <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="submit" id="nextButton"> Növbəti</button>
                </div>

            </form>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        const $errorMessage = $("#errorMessage");
        $('#step3Form').on('submit', function (event) {
            event.preventDefault(); // Prevent form submission by default

            var checkInputMyLocation = $('#checkInputMyLocation').is(':checked');
            var checkInputClientLocation = $('#checkInputClientLocation').is(':checked');

            var workPlaceTypeInput = $('#workPlaceType');

            // Reset form validation styles
            $(this).removeClass('was-validated');

            // Add validation
            if (!checkInputMyLocation && !checkInputClientLocation) {
                $errorMessage.show();
                return; // Prevent form submission
            }

            // If one or both are selected, set workPlaceType value accordingly
            if (checkInputMyLocation && checkInputClientLocation) {
                workPlaceTypeInput.val(3);
            } else if (checkInputMyLocation) {
                workPlaceTypeInput.val(1);
            } else if (checkInputClientLocation) {
                workPlaceTypeInput.val(2);
            }

            // Submit the form after validation
            this.submit();
        });

        $('#checkInputMyLocation, #checkInputClientLocation').on('change', function () {
            // Check if both checkboxes are unchecked
            var checkInputMyLocation = $('#checkInputMyLocation').is(':checked');
            var checkInputClientLocation = $('#checkInputClientLocation').is(':checked');

            // If either checkbox is checked, hide the error message
            if (checkInputMyLocation || checkInputClientLocation) {
                $errorMessage.hide();
            }
            else {
                $errorMessage.show();

            }
        });
    });


    //$(document).ready(function () {

    //    $('#step3Form').on('submit', function() {

    //        var checkInputMyLocation = $('#checkInputMyLocation').is(':checked');
    //        var checkInputClientLocation = $('#checkInputClientLocation').is(':checked');


    //        var workPlaceTypeInput = $('#workPlaceType');

    //        if (checkInputMyLocation && checkInputClientLocation) {

    //            workPlaceTypeInput.val(3);
    //        } else if (checkInputMyLocation) {
    //            workPlaceTypeInput.val(1);
    //        } else if (checkInputClientLocation) {
    //            workPlaceTypeInput.val(2);
    //        } else {
    //            workPlaceTypeInput.val(0);
    //        }
    //    });
    //});

</script>