
@{
    Layout = "~/Areas/Admin/Views/Shared/_BusinessLayout.cshtml";
}

@model Medicloud.ViewModels.CreateOrganizationVM


<div class="">
    <div class="row  text-center justify-content-center ">
        <div class="">
            <form id="step1Form" method="post"  asp-action="step6" asp-controller="registration" asp-area="admin">
                <input type="hidden" asp-for="id" />
                <div class="card-header">

                    <button class="btn btn-sm">
                        <img src="~/arrow.svg" />

                    </button>
                    <div class="text-center">
                        <h1>səyahət haqqı</h1>
                        <p>səyahət haqqı</p>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" id="priceType"  name="TravelPriceType" aria-label="Floating label select example">
                                    <option value="" selected>Seçin</option>
                                    <option value="1">Sabit</option>
                                    <option value="2">Dəyişir</option>
                                    <option value="3">Pulsuz</option>
                                    <option value="4">Başlayaraq</option>
                                </select>
                                <label for="floatingSelect">Yol haqqı</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="number" name="TravelPrice"  class="form-control" step="0.01" min="0.00" value="0.00" placeholder="9.99" />
                                <label for="priceInput">Qiymət(AZN)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="distance" asp-for="TravelDistance" aria-label="Floating label select example">
                                <option selected value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            <label for="floatingSelect">Maksimum məsafə(km)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="map" style="height: 400px;"></div>

                    </div>
                </div>

                <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="submit" id="nextButton"> Növbəti</button>
                </div>

            </form>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script>
    $(document).ready(function () {

        togglePriceInput();


        $('#priceType').change(function () {
            togglePriceInput();
        });


        function togglePriceInput() {
            var priceType = $('#priceType').val(); 

            if (priceType == "2" || priceType == "3" || priceType == "") {

                $('input[name="priceInput"]').prop('disabled', true);
            } else {

                $('input[name="priceInput"]').prop('disabled', false);
            }
        }
    });

    var selectedPlace = ['@Model.latitude', '@Model.longitude'];

    var map = L.map('map').setView(selectedPlace,12);


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    var marker = L.marker(selectedPlace).addTo(map);
    marker.bindPopup('@Model.OrgAddress').openPopup();


    var currentMarker = marker;
    var currentCircle;
    map.on('click', function (e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        var apiUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                var address = data.display_name;
                if (currentMarker) {
                    map.removeLayer(currentMarker);
                }
                currentMarker = L.marker([lat, lng]).addTo(map);
                currentMarker.bindPopup(address).openPopup();

                currentMarker.bindPopup(`${address}`).openPopup();
            })
            .catch(error => {
                console.error("Adres alınırken bir hata oluştu: ", error);
            });
    });


    $('#distance').change(function () {
        calculateDistance($(this).val())
    });

    function calculateDistance(value) {
        if (currentMarker) {
            var selectedDistance = parseInt(value);
            var radius = selectedDistance * 1000;

            if (currentCircle) {
                map.removeLayer(currentCircle);
            }

            currentCircle = L.circle([currentMarker.getLatLng().lat, currentMarker.getLatLng().lng], {
                color: 'blue',
                fillColor: '#30f',
                fillOpacity: 0.2,
                radius: radius
            }).addTo(map);


            currentMarker.bindPopup(`Məsafə: ${radius / 1000} km`).openPopup();
            adjustZoomLevel(selectedDistance);
        }

    }
    calculateDistance($('#distance').val())

    function adjustZoomLevel(distance) {
        // Mesafeye göre zoom seviyesini hesapla
        var zoomLevel;

        if (distance == 1) {
            zoomLevel = 14;
        } else if (distance == 5) {
            zoomLevel = 12;
        } else if (distance < 15) {
            zoomLevel = 11;
        }
        else {
            zoomLevel = 10;
        }

        // Harita zoom seviyesini ayarla
        map.setZoom(zoomLevel);
    }


</script>
