@{
    Layout = "~/Areas/Admin/Views/Shared/_BusinessLayout.cshtml";
}

@model Medicloud.ViewModels.CreateOrganizationVM


<div class="">
    <div class="row  text-center justify-content-center">
        <div class="">
            <form id="step1Form" method="post" enctype="multipart/form-data" asp-action="step3" asp-controller="registration" asp-area="admin">
                <div class="card-header">

                    <button class="btn btn-sm">
                        <img src="~/arrow.svg" />

                    </button>
                    <div class="text-center">
                        <h1>Biznesiniz nədir?</h1>
                        <p>Biznesinizə uyğun olan kateqoriyanı seçin</p>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row">
                        @for (int i = 0; i < 6 && i < Model.categories.Count; i++)
                        {
                            var category = Model.categories[i];
                            <div class="col-md-4">
                                <div class="form-check mb-3">
                                    <input type="checkbox" style="cursor:pointer;" class="form-check-input" id="checkInput@(category.id)">

                                    <label class="form-check-label" style="cursor:pointer;" for="checkInput@(category.id)">
                                        <img class="rounded-circle" style="object-fit:cover;" height="120" width="120" src="~/barbershop.jpg" />
                                        <div >
                                            @category.name
                                        </div>
   
                                    </label>
                                </div>

                            </div>
                        }
                    </div>


                    <div class="row">
                        @foreach (var category in Model.categories.Skip(6))
                        {
                            <div class="col-12">
                                <div class="form-check text-start mb-2">
                                    <input type="checkbox" style="cursor:pointer;" class="form-check-input" id="checkInput@(category.id)">
                                    <label class="form-check-label " style="cursor:pointer;" for="checkInput@(category.id)">@category.name</label>
                                </div>
                            </div>
                        }
                    </div>

                </div>

                <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="submit" id="nextButton"> Növbəti</button>
                </div>

            </form>
        </div>
    </div>
</div>