<div class="modal fade" id="anamnesisDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light text-dark">
                <h5 class="modal-title" id="anamnesisDetailTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center text-start">
                <form id="">
                    <div class="row">
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="1">
                            <label class="form-label">Şikayəti</label>
                            <label id="field1" class="form-control"></label> 
                        </div>
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="2">
                            <label class="form-label">Anamnez Kliniki Gedişat</label>
                            <label id="field2" class="form-control"></label> 
                        </div>
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="3">
                            <label class="form-label">Öncəki xəstəliklər</label>
                            <label id="field3" class="form-control"></label> 
                        </div>
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="4">
                            <label class="form-label">Müayinə planı</label>
                            <label id="field4" class="form-control"></label> 
                        </div>
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="5">
                            <label class="form-label">Tətbiq olunan müalicə</label>
                            <label id="field5" class="form-control"></label> 
                        </div>
                        <div class="col-md-6 text-start mb-3 anamnez-field" data-field-id="6">
                            <label class="form-label">Digər qeydlər</label>
                            <label id="field6" class="form-control"></label> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>